.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #000000bc;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  width: 40%;
  background-color: #f4ffdf;
  padding: 15px;
  border-radius: 7px;
  opacity: 0;
  animation: ani 0.75s forwards;
}

.buttonContainer {
  position: relative;
  text-align: right;
}

.title {
  font: 400 16px/22px Montserrat, sans-serif;
  margin: 40px 0 15px;
}

.button {
  all: initial;
  font: 400 16px/22px Montserrat, sans-serif;
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 10px;
  transition: all 0.2s ease-out;
  border-radius: 7px;
}

.button:hover {
  background-color: #e4e4e4;
  font-weight: 700;
  box-shadow: 2px 2px 4px #A2AC86;
}

.hiddenInput {
  display: none;
}

.pageButtonContainer {
  position: relative;
  margin-bottom: 50px;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

