.leftPanel {
  grid-column: 1;
}

.slideList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 290px;
  height: 75vh;
  overflow-y: scroll;
}

.inputTitleLabel {
  margin: 0 0 5px;
  font: 400 16px/22px Montserrat, sans-serif;
}

.inputPresentationTitle {
  all: initial;
  text-align: center;
  border: solid 0.5px #000000;
  font: 400 14px/22px Montserrat, sans-serif;
  padding: 3px;
  margin: 0 0 20px;
}

.slidePreviewContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  margin: 15px;
  cursor: grab;
  z-index: 20;
}

.slidePreviewContainer:hover{
  background-color: #e4e4e4;
}

.slideIndex {
  margin: 5px 15px 0 0;
  font: 400 16px/22px Montserrat, sans-serif;
}

.slidePreviewContainerGuard {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}