.leftPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 290px;
  height: 70vh;
  overflow-y: scroll;
}

.inputTitleLabel {
  margin: 0 0 5px;
  font: 400 16px/22px Montserrat, sans-serif;
}

.inputPresentationTitle {
  all: initial;
  text-align: center;
  border: solid 0.5px #000000;
  font: 400 14px/22px Montserrat, sans-serif;
  padding: 3px;
  margin: 0 0 20px;
}
