.editorSpace {
    display: grid;
    grid-template-rows: 12.7vh auto;
  }
  
  .mainSpace {
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }