.editBar {
  position: relative;
  margin-left: 50px;
  text-align: center;
  transition: all 0.2s ease-out;
}

.editBarTitle {
  text-align: center;
  font: 400 16px/22px Montserrat, sans-serif;
  padding: 8px 16px;
  background-color: #f4f4f4;
  border-radius: 7px 7px 0 0;
}

.editBarMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonEditbarActive {
  background-color: #e4e4e4;
  font-weight: 700;
  border-radius: 7px;
  box-shadow: 2px 2px 4px #A2AC86;

}

.buttonEditbar:hover {
  background-color: #e4e4e4;
  font-weight: 700;
  border-radius: 7px;
  box-shadow: 2px 2px 4px #A2AC86;

}

.buttonIconEditbar {
  display: block;
  font: 400 16px/22px Montserrat, sans-serif;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s ease-out;
  border-radius: 7px;
}

.buttonIconEditbarActive {
  display: block;
  font: 400 16px/22px Montserrat, sans-serif;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s ease-out;
  border-radius: 7px;
  background-color: #e4e4e4;
  box-shadow: 2px 2px 4px #A2AC86;

}

.buttonIconEditbar:hover {
  background-color: #e4e4e4;
  border-radius: 7px;
  box-shadow: 2px 2px 4px #A2AC86;

}

.buttonFont {
  width: 16px;
  height: 16px;
  background: url('/src/store/images/text.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;;
}

.buttonSize {
  width: 16px;
  height: 16px;
  background: url('/src/store/images/font-size.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;;
}

.buttonWeight {
  width: 16px;
  height: 16px;
  background: url('/src/store/images/bold.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;;
}

.buttonAlignLeft {
  width: 16px;
  height: 16px;
  background: url('/src/store/images/align-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;;
}

.buttonAlignCenter {
  width: 16px;
  height: 16px;
  background: url('/src/store/images/align-center.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;;
}

.buttonAlignRight {
  width: 16px;
  height: 16px;
  background: url('/src/store/images/align-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;;
}

.inputColorTitle {
  all: initial;
  font: 400 16px/22px Montserrat, sans-serif;
  cursor: default;
  padding: 8px 5px 8px 16px;
}

.inputColor {
  border: none;
  height: 34px;
  width: 34px;
  margin-left: 12px;
  margin-right: 2px;
  cursor: pointer;
}

.inputColor:hover {
  background-color: #e4e4e4;
}

.buttonsContainer {
  display: inline-flex;
  align-items: center;
}

.inputImage {
  all: initial;
  position: relative;
  display: inline-block;
  font: 400 16px/22px Montserrat, sans-serif;
  padding: 8px 16px;
}

.inputImage:hover {
  background-color: #e4e4e4;
}

.hiddenInput {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0px;
  bottom: 0;
  opacity: 0;
}

.selectButton {
  all: initial;
  font: 400 16px/22px Montserrat, sans-serif;
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.2s ease-out;
  border-radius: 7px;
}

.selectButton:hover {
  background-color: #e4e4e4;
  font-weight: 700;
  box-shadow: 2px 2px 4px #A2AC86;
}

.buttonWithDropdown {
  position: relative;
  display: inline-block;
}