.button {
  all: initial;
  font: 400 16px/22px Montserrat, sans-serif;
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.35s ease-out;
}

.button:hover {
  background-color: #e4e4e4;
  font-weight: 700;
}
