.leftPanel {
  grid-column: 1;
}

.slideList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 290px;
  height: 75vh;
  overflow-y: scroll;
}

.inputTitleLabel {
  margin: 0 0 5px;
  font: 400 16px/22px Montserrat, sans-serif;
}

.inputPresentationTitle {
  all: initial;
  text-align: center;
  font: 400 14px/22px Montserrat, sans-serif;
  padding: 3px;
  margin: 0 0 20px;
  border-radius: 6px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 4px #A2AC86;
}

.slidePreviewContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  margin: 15px;
  cursor: grab;
  z-index: 20;
  transition: all 0.2s ease-out;
  border-radius: 7px;
}

.slidePreviewContainer:hover{
  background-color: #e4e4e4;
  box-shadow: 2px 2px 4px #A2AC86;
}

.slideIndex {
  margin: 5px 15px 0 0;
  font: 400 16px/22px Montserrat, sans-serif;
}

.slidePreviewContainerGuard {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}