#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, #a4c3a2b3, #c6cca5ba);
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #9fa198;
  border-radius: 5px;
}