#root {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  text-align: center;
  background-color: #ebfec86d;
  user-select: none;
}

.mainSpace {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

/* .inputTitleLabel {
  margin: 0 0 5px;
  font: 400 16px/22px Montserrat, sans-serif;
}

.inputPresentationTitle {
  all: initial;
  text-align: center;
  border: solid 0.5px #000000;
  font: 400 14px/22px Montserrat, sans-serif;
  padding: 3px;
  margin: 0 0 20px;
} */